body {

    background-image:url('https://wallpapercave.com/wp/BAB2GMy.jpg'  );   
}  
.card {
    background-color:coral;
    width: 200px ; 
    height: 330px ;
    border: 3px solid black;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 80px;   
  }
  .card img {
    width: 80px;
    height: 80px;
    align-self: center;
    margin: 1em;
  }
  .card-body{
    width: 200px;
    height: 170px; 
    padding: 3px ,3px ,3px ,3px;
    align-content: center;
  }
  form{
       
      font-family: 'Contrail One', cursive;
  }
.form-control{
    width:500px;
    margin-top: 3px;  
    margin-bottom: 3px; 
    display:block;  
    border-style: solid;
    border-width: 2px;
    margin-left:40px;
}
#filter {
    width:505px;
    height:40px ;
    margin-left:260px;
    border-width:2px;   
}
.nav-link{
    margin-right:100px; 
    font-family: 'Contrail One', cursive;
}
nav{
    height: 55px;
    opacity: 0.5;
  filter: alpha(opacity=50);
}
#imagen{
    margin-left:300px;
    margin-top:40px;
    margin-bottom:30px;
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}
@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}
@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
} 

.logo {
    height: 30px;
    margin-right: 10px;
    margin-left: 20;
  }
  
  