body {
    background: url('https://wallpapercave.com/wp/BAB2GMy.jpg') no-repeat center center fixed;
    background-size: cover;
}  

.card {
    background-color: rgba(50, 230, 154, 0.95);
    border-color:black;
    border-style: solid;
    border-width: 2px;
}

.card-img-wrapper {
    padding: 2em;
    background-color: rgba(255,255,255,0.5);
}

.card-img-wrapper img {
    max-height: 120px;
    max-width: 120px;
}

.card-img-type {
    max-width: 2em;
}
.navbar-expand-lg{
    margin-bottom: 50px; 
}

.form-control{
    border-color:black;
    border-style: solid;
    border-width: 2px;
}

.logo {
    height: 1.5em;
  }

 footer{
    margin-bottom: 10px; 
    background-color:white;
}