body {
    background-color: coral;
}  

.card img {
    max-width: 100px; 
    
  
}

.card{
    background-color: rgb(110, 196, 218);
}

#select_type {
    width:300px;
    
}
/* @media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
} */